.row.border-bottom
  %nav.navbar.navbar-static-top{role: 'navigation', style: 'margin-bottom: 0'}
    .navbar-header
      = link_to '#', class: 'navbar-minimalize minimalize-styl-2 btn btn-warning' do
        %i.fa.fa-bars
    %ul.nav.navbar-top-links.navbar-right
      %li
        - if user_signed_in?
          = link_to trash_link, class: 'count-info' do
            %i.fa.fa-trash.fa-2x
            %span.label.label-primary
              = trash_count
