%li{ class: active_tab('items', 'index') }
  = link_to items_path do
    %span.nav-label= I18n.t('leftsidebar.products')
%li{ class: active_tab('orders', ['index', 'edit', 'new', 'create', 'update']) }
  = link_to orders_path do
    %span.nav-label= I18n.t('leftsidebar.orders')
