.row.wrapper.border-bottom.white-bg.page-heading.flex-wrapper
  .col-xs-8
    %h2= I18n.t('leftsidebar.products')
  .col-xs-2.flex-vertical-align
    = new_product_link
  .col-xs-2.flex-vertical-align
    = new_service_link
.wrapper.wrapper-content.animated.fadeInRight
  .row
    = concept('item/cell/show', collection: @model)
